extend layout

block pagecontent
    ul.list-group 
        li.list-group-item 
            a(href="/") Home 

    table.table.table-hover.table-striped 
        thead 
            tr 
                th ID
                th NAME 
                th
                th ACTIONS 
                th 
        tbody 
            each emp in empList
                tr 
                    td= emp.id 
                    td= emp.name 
                    td 
                        a.text-info(href="#") Details
                    td 
                        a.text-warning(href="#") Edit
                    td 
                        a.text-danger(href="#") Delete